.contact-info {
    padding: 60px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.contact-background {
    background-image: url("./images/contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.contact-form {
    padding: 40px 20px;
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: #694cc0;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.3s;
}

.contact-form button:hover {
    background-color: #5a3d9b;
    transform: scale(1.1);
}
